@model LexiconLMS.Models.Document

@{
    ViewBag.Title = "AssignmentDetails";
}

<h2>Assignment: @Model.Activity.ActivityName</h2>

<div>
     <hr />
    <dl class="dl-horizontal">
        <dt>Document Name</dt>
        <dd>@Model.DocName</dd>
        <br />
        <dt>Feedback</dt>
        <dd>-</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DocId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
