@model LexiconLMS.Models.Document

@{
    ViewBag.Title = "AssignmentDetails";
}

<h2>Assignment: @Model.Activity.ActivityName</h2>

<div>
     <hr />
    <dl class="dl-horizontal">
        <dt>Document Name</dt>
        <dd>@Model.DocName</dd>
        <dt>Feedback</dt>
        <dd>@Html.TextAreaFor(model => model.DocDescription, new { @class = "hidden-print" }) </dd>
        <dt>Assignment Status</dt>
        <dd>-</dd>
    </dl>
</div>
<script type="text/javascript">
    document.getElementById("DocFeedback").cols = 30;
    document.getElementById("DocFeedback").rows = 5;
    document.getElementById("DocFeedback").readOnly = true;
</script>