@model LexiconLMS.Models.DisplayUserViewModel
@*@using Microsoft.AspNet.Identity*@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @{ 
                    string userName = "";
                    if (!string.IsNullOrEmpty(Model.UserFullName.Trim())) { userName = Model.UserFullName.Trim(); }
                    else { userName = Model.Email; }
                }
                @Html.ActionLink("Hello, " + userName, "Index", "Manage", routeValues: null, htmlAttributes: new { style = "font-size:24px; margin-top:5px;", title = "Manage your account" })
            </li>
            <li style="margin-left:15px;">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="glyphicon glyphicon-log-out" style="font-size:22px; margin-top:2px;", title="Log off">
                </a>
            </li>
        </ul>
                        }
                    }
                    @*else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink(" ", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "visite glyphicon glyphicon-log-in", id = "loginLink", style = "font-size:22px;", title = "Log in" })</li>
                        </ul>
                    }*@

