body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges  */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.btn-default, .btn-default a, .btn-default:focus {
    background-color: black;
    color: white;
}

    .btn-default:hover > a, .btn-default:hover {
        background-color: black;
        color: lime;
        text-decoration: none;
        border-color: #333;
    }
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Stefan don't remove!*/
@media print {
    a[href]:after {
        content: none /*!important*/;
    }

    a {
        color: black;
    }

    body {
        color: black;
        background-color: white;
    }

    /*.table {
        border: 3px solid black;
        border-collapse: separate;
        border-radius: 10px;
        width: auto;
    }

    th, tr, td {
        border: 1px solid black;
        padding: 6px !important;
    }*/

    .table-responsive {
        width: 100%;
        margin-bottom: 0px;
        overflow-x: hidden;
        overflow-y: hidden;
        border: 0px;
    }
}
/* <-- Stefan */

/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/
navbar-header .navbar-brand {
    padding: 0px;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar > .navbar-header > .navbar-brand > img {
    height: 110px;
    padding: 15px;
    width: 38px;
}

a[disabled="disabled"] {
    color: #000;
    text-decoration: none !important;
}

/*a:visited{color:#198521}*/
/*a:hover{color:#198521;text-decoration:underline}
a:focus{color:#198521;outline:#999 solid 2px}
a:hover,a:active{color:#198521; outline:0}*/
a[disabled="disabled"] {
    color: #000;
    text-decoration: none !important;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
    font-size: 18px;
}

    .nav > li > a:link {
        color: white;
        text-decoration: none;
    }

    .nav > li > a:visited {
        color: white;
    }

    .nav > li > a:active {
        color: lime;
    }

    .nav > li > a:hover {
        color: lime !important;
    }

    .nav > li > a:focus {
        color: lime !important;
    }

.nav {
    background-color: #222222 !important;
    font-size: 18px;
    padding-left: 0px;
    padding-right: 0px;
}

.sidebar-navbar-collapse {
    background-color: #222222;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    /*max-width: 160px;*/
    margin: 10px;
}

    .sidebar-navbar-collapse > .nav > li {
        font-size: 20px !important;
    }

    .sidebar-navbar-collapse > .nav > li {
        font-size: 20px !important;
    }

.navbar {
    background-color: #222222;
    border-color: #222222;
    font-size: 18px;
    /*border: 0px;*/
}

.navbar-inverse {
    background-color: #222222;
    border-color: #222222;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    /*padding-left: 0px;
    padding-right: 0px;*/
    /* line-height: 20px; */
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 18px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #222222;
    background-color: white;
    font-size: 18px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: whitesmoke; /*#f6f6f6;*/
    padding-bottom: 0px;
}

.body {
    padding-bottom: 0px;
}

.body-content {
    border-color: black;
}

html {
    background-color: whitesmoke; /*#f6f6f6*/
}

.row {
    margin-right: 0px;
    margin-left: -15px;
}

.table {
    border-top: 2px solid #222222;
    border-bottom: 2px solid #222222;
}
/*th, tr, td {
    border-bottom: 1px solid #222222;
    padding: 8px !important;
}*/

/**********************************
This for Left sidebar collapse to right-side push

***********************************/

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 991px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -60%;
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -60%;
    }

    .row-offcanvas-right.active {
        right: 60%;
    }

    .row-offcanvas-left.active {
        left: 25vw;
        background-color: white;
    }

        .row-offcanvas-left.active .sidebar-offcanvas {
            left: -15vw;
        }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        /*width: 200px; /* 6 columns */
    }

    .list-group a {
        background-color: black;
        /*font-size: 16px;*/
        color: white;
    }
}

@media screen and (max-width: 767px) {
    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -25vw;
    }

    .list-group-item {
        padding: 10px 5px;
        font-size: 10px;
        border: 1px solid #dddddd;
    }
}

@media screen and (max-width: 425px) {
    .list-group-item {
        font-size: 8px;
    }
}

.list-group a {
    background-color: black;
    font-size: 20px;
    color: white;
}

    .list-group a:hover {
        color: lime;
        background-color: black;
    }

    .list-group a.active, .list-group a.active:hover {
        background-color: #d60000;
    }

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
}

hr {
    border-color: #222222;
}
/*************************/


 /*for displaying Download input thead center*/
.List-item {
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 180px;
    width: 50%;
}
.list-group-item {
        border: 1px solid #222222;
    }
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    /*z-index: 2;*/
    /*color: #ffffff;*/
    background-color: #222222;
    border-color: #222222;
}

button { color:white; }
/*************************/