body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Stefans tillägg --> */
body {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;*/
    color: darkblue;
    background-color: lightyellow;
}

a { text-decoration:none; color:darkblue; font-weight:bold; }
a:link    { color:darkblue; }
a:visited { color:darkblue; }
a:active  { color:lightgreen; }
a:hover   { color:lightgreen !important; } /* !important gillas inte Av Github. Det tyder på dålig struktur i css!! */
a:focus   { color:lightgreen !important; } /* (Men det tyder ju snarare på krånglig struktur i bootstrap.css) */

button,
html [type="button"],
html input[type="button"],
/*input[type="reset"],*/
input[type="submit"] {
    border-radius: 10px;
    color: darkblue;
    background-color: lightgoldenrodyellow; /*lightgoldenrodyellow; lightblue;*/
    border-color: darkblue;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #d00000;
    background-color: lightgreen;
    border-color: #d00000;
}

.table {
    border: 3px solid darkblue;
    border-collapse: separate;
    border-radius: 10px;
    width: auto;
    /*margin-bottom: 10px;*/
}
th, tr, td {
    border: 1px solid darkblue;
    padding: 8px !important; /* <--- important!? */
}
.nav-bar {
    background-color: darkblue;
}
.navbar-inverse {
    background-color: darkblue;
    border-color:lightblue;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: darkblue;
    border-color:lightblue;
}
.navbar-inverse .navbar-brand {
    color: lightyellow;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: darkblue;
    background-color: lightgoldenrodyellow;
}
/*.navbar-inverse .navbar-brand > a:hover {
    color: #d00000;
}*/
.navbar-inverse .navbar-nav > li > a {
    color: lightyellow;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color:  lightgoldenrodyellow;
    border-bottom-color: #999999;
}
/*.navbar-inverse .navbar-nav > .dropdown > a:active .caret {
    border-top-color: #d00000;
    border-bottom-color: #999999;
}*/
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #d00000;
    border-bottom-color: #999999;
}
.navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #d00000;
    border-bottom-color: #999999;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color:darkblue;
    text-decoration: none;
    background-color: lightgoldenrodyellow;
}

@media print {
    a[href]:after {
        content: none /*!important*/;
    }
    a {
        color: black;
    }
    body {
        color: black;
        background-color: white;
    }
    .table {
        border: 3px solid black;
        border-collapse: separate;
        border-radius: 10px;
        width: auto;
    }
    th, tr, td {
        border: 1px solid black;
        padding: 6px !important;
    }
}
/* <-- Stefans tillägg */

/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/
navbar-header .navbar-brand {
  padding: 0px;
}

.navbar> .navbar-header> .navbar-brand> img {
  height: 110px;
  padding: 15px;
  width: 38px;
}