@model IEnumerable<LexiconLMS.Models.ApplicationUser>
@{
    ViewBag.Title = "TeacherList";
}

<h2>TeacherList</h2>

<table class="table">
    <tr>
        <th>Teacher Name</th>
        <th>Email</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserFullName</td>
            <td>@item.Email</td>
        </tr>
    }
</table>