@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <button id="moduleButton" onclick="ShowModules()">Modules</button>
    <button id="participantsButton" onclick="ShowParticipants">Participants</button>
    <dl class="dl-horizontal" id="modules">
        <dt>Module Names</dt>
        @foreach (var item in Model.Modules)
        {
            <dd>@item.ModuleName</dd>
        }
    </dl>
    <dl class="dl-horizontal" id="participants" style="display:None">
        
        <dt> Course Participants</dt>
        @foreach(var item in Model.Students)
        {
            <dd>@item.UserFullName</dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script>
    ShowModules()
</script>