@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "MyCourse";
}

<h2>@Model.CourseName</h2>

<div>
    <h4>To-Do This Week</h4>
    <hr />
    <dl class="dl-horizontal">
        <table>
            <tr>
                <th>
                    Activity Name
                </th>
            </tr>
            @foreach (var Module in Model.Modules)
            {
                foreach (var Activity in Module.Activities)
                {
                    if ((DateTime.Now - Activity.ActivityStartDate).Hours <= 168) //within this week, check time value.
                    {



                            </dt>

                            <dd>
                                @Activity.ActivityName
                            </dd>
                    }
                }
            }
        </table>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
