@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Participants";
}

<h2>Participants</h2>

<table class="table" id="participants">
    <tr>
        <th>Course Participant</th>
        <th>Email</th>
    </tr>
    @{
        var students = Model.Students.OrderBy(u => u.UserFullName).ToList();
    }
    @foreach (var item in students)
    {
        <tr>
            <td>@item.UserFullName</td>
            <td>@item.Email</td>
        </tr>
    }
</table>