@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>*@
<br /><p>Glyphicons:<p/>
<span class="glyphicon glyphicon-earphone"></span>
<span class="glyphicon glyphicon-search"></span>
<span class="glyphicon glyphicon-star" aria-hidden="true"></span>