@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@*<p>Glyphicons:<p/>

    <div style="color:darkgreen; font-size:40px">

    <span class="glyphicon glyphicon-earphone"></span>
    <span class="glyphicon glyphicon-search"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-sort"></span>
    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
    <span class="glyphicon glyphicon-trash"></span><br />

    <span class="glyphicon glyphicon-edit"></span>
    <span class="glyphicon glyphicon-home"></span>
    <span class="glyphicon glyphicon-file"></span><br />

    <span class="glyphicon glyphicon-download-alt"></span>
        <span class="glyphicon glyphicon-download"></span>
    <span class="glyphicon glyphicon-upload"></span><br />

    <span class="glyphicon glyphicon-save"></span>
    <span class="glyphicon glyphicon-saved"></span><br />

        <span class="glyphicon glyphicon-menu-left"></span>
        <span class="glyphicon glyphicon-user"></span><br />

        <span class="glyphicon glyphicon-check"></span>
        <span class="glyphicon glyphicon-unchecked"></span><br />

        <span class="glyphicon glyphicon-log-in"></span>
        <span class="glyphicon glyphicon-log-out"></span><br />

        <span class="glyphicon glyphicon-edit"></span><br />

        <span class="glyphicon glyphicon-info-sign"></span>
        <span class="glyphicon glyphicon-phone-alt"></span><br />

        <span class="glyphicon glyphicon-briefcase"></span><br />
        <span class="glyphicon glyphicon-pencil"></span><br />

        <span class="glyphicon glyphicon-"></span><br /><br />

        <span class="glyphicon glyphicon-arrow-left"></span><br />
        <span class="glyphicon glyphicon-arrow-right"></span><br />
        <span class="glyphicon glyphicon-arrow-up"></span><br />
        <span class="glyphicon glyphicon-arrow-down"></span><br />
        </div>*@
