@{
    ViewBag.Title = "About the project team";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<p><h3>This is the final project in the course C#.NET MVC (2017).</h3></p>
<h4>Participants</h4><br />
<h5>Abdullah</h5><br />
<h5>Ayeesha</h5><br />
<h5>Niklas</h5><br />
<h5>Stefan L</h5><br />&nbsp;<br />

