@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title:</h3>
@*<h3>@ViewBag.Message</h3>*@
@*<h3>Lexicon</h3>*@

<address>
    Årstaängsvägen 9<br />
    117 43 Stockholm<br />
    <span title="Phone">Phone: 010-471 10 60</span>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:stockholm@lexicon.se">stockholm@lexicon.se</a><br />
</address>