@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title:</h3>
@*<h3>@ViewBag.Message</h3>*@
@*<h3>Lexicon</h3>*@

<address title="Address" style="font-size:18px">
    Årstaängsvägen 9<br />
    117 43 Stockholm<br />
</address>

<address>
    <strong>Support:</strong><br />
    <span class="glyphicon glyphicon-earphone"></span> <span title="Phone">010-47 11 060</span><br />
    <span class="glyphicon glyphicon-envelope"></span> <a title="E-mail" href="mailto:stockholm@lexicon.se">stockholm@lexicon.se</a><br />
</address>