@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title:</h3>
@*<h3>@ViewBag.Message</h3>*@
@*<h3>Lexicon</h3>*@

<address title="Address">
    Årstaängsvägen 9<br />
    117 43 Stockholm<br />
    <span title="Phone" class="glyphicon glyphicon-phone-alt"></span> <span title="Phone">010-47 11 060</span>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:stockholm@lexicon.se">stockholm@lexicon.se</a><br />
</address>